@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 120 25% 96%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 130 29% 30%;
    --primary-foreground: 60 93% 98%;
    --secondary: 120 10% 90%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 120 10% 90%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 43 59% 61%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 93% 98%;
    --border: 120 10% 88%;
    --input: 120 10% 88%;
    --ring: 43 59% 61%;
    --chart-1: 130 29% 30%;
    --chart-2: 43 59% 61%;
    --chart-3: 130 20% 50%;
    --chart-4: 43 50% 71%;
    --chart-5: 130 15% 60%;
    --radius: 0.5rem;
    --sidebar-background: 130 29% 25%;
    --sidebar-foreground: 120 25% 96%;
    --sidebar-primary: 43 59% 61%;
    --sidebar-primary-foreground: 240 5.9% 10%;
    --sidebar-accent: 130 29% 35%;
    --sidebar-accent-foreground: 120 25% 96%;
    --sidebar-border: 130 29% 35%;
    --sidebar-ring: 43 59% 61%;
  }
  .dark {
    --background: 130 15% 10%;
    --foreground: 60 93% 98%;
    --card: 130 15% 12%;
    --card-foreground: 60 93% 98%;
    --popover: 130 15% 10%;
    --popover-foreground: 60 93% 98%;
    --primary: 120 25% 96%;
    --primary-foreground: 130 29% 30%;
    --secondary: 130 15% 17%;
    --secondary-foreground: 60 93% 98%;
    --muted: 130 15% 17%;
    --muted-foreground: 60 5% 63.9%;
    --accent: 43 59% 61%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 93% 98%;
    --border: 130 15% 17%;
    --input: 130 15% 17%;
    --ring: 43 59% 61%;
    --chart-1: 120 25% 96%;
    --chart-2: 43 59% 61%;
    --chart-3: 120 20% 80%;
    --chart-4: 43 50% 51%;
    --chart-5: 120 15% 85%;
    --sidebar-background: 130 15% 12%;
    --sidebar-foreground: 120 25% 96%;
    --sidebar-primary: 43 59% 61%;
    --sidebar-primary-foreground: 240 5.9% 10%;
    --sidebar-accent: 130 15% 20%;
    --sidebar-accent-foreground: 120 25% 96%;
    --sidebar-border: 130 15% 20%;
    --sidebar-ring: 43 59% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
